<div class="editor-box">
  <div *ngIf="formControlInstance.parent != null">
    <div>

      <div class="inline-form-label">
        Condition
      </div>

      <!--For Number -->

      <div class="condition-container" *ngIf="formControlInstance.parent.type == 'number'">
        <div class="inline-condition-form">
          <select [(ngModel)]="formControlInstance.displayCondition.condition" (change)="change()">
            <option value="Equals" selected>Equals</option>
            <option value="Greater than">Greater than</option>
            <option value="Less than">Less than</option>
          </select>
        </div>
        <div class="inline-condition-form">
          <input type="number" [(ngModel)]="formControlInstance.displayCondition.value" (change)="change()">
        </div>
      </div>

      <!--For Tex and Radio -->

      <div class="condition-container" *ngIf="formControlInstance.parent.type == 'text' || formControlInstance.parent.type == 'radio'">
        <div class="inline-condition-form">
          <select [(ngModel)]="formControlInstance.displayCondition.condition" (change)="change()">
            <option value="Equals" selected>Equals</option>
          </select>
        </div>
        <div class="inline-condition-form">
          <div *ngIf="formControlInstance.parent.type == 'radio'">
            <select [(ngModel)]="formControlInstance.displayCondition.value" (change)="change()">
              <option value="yes">Yes</option>
              <option value="no">No</option>
            </select>
          </div>
          <div *ngIf="formControlInstance.parent.type == 'text'">
            <input type="text" [(ngModel)]="formControlInstance.displayCondition.value" (change)="change()" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="inline-form-label">
      Question
    </div>
    <div class="inline-form">
      <input type="text" [(ngModel)]="formControlInstance.question" class="" (change)="change()" />
    </div>
  </div>
  <div>
    <div class="inline-form-label">
      Type
    </div>
    <div class="inline-form">
      <select [(ngModel)]="formControlInstance.type" (change)="change()">
        <option value="text">Text</option>
        <option value="number">Number</option>
        <option value="radio">Yes/No</option>
      </select>
    </div>
  </div>
  <div class="button-section">
    <button class="button" (click)="delete()">Delete</button>
    <button class="button" (click)="addSubItem()">Add Sub-Input</button>
    <div style="clear: right;"></div>
  </div>
</div>

<div class="subForm">
  <app-form-control-editor *ngFor="let item of formControlInstance.childrenArray" [formControlInstance]="item"></app-form-control-editor>
</div>