<div class="container">
  <div class="header">
    <h1>FORM BUILDER</h1>
  </div>
  <div class="container">
    <div class="nav">
      <div class="nav-link" routerLink="/create" routerLinkActive="active-page">
        Create
      </div>
      <div class="nav-link" routerLink="/preview" routerLinkActive="active-page">
        Preview
      </div>
      <div class="nav-link" routerLink="/export" routerLinkActive="active-page">
        Export
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>