.form-element {
  margin-left: 20px;
  margin-top: 30px;
  min-width: 250px;
}

.form-element input[type=number],input[type=text] {
  width: 250px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.hidden{
  display: none;
}

.radio-container {
  display: flex;
  flex-direction: row;
}

.radio-container-text {
  width: 30px;
}
.radio-container-check {
  width: 10px;
}

.radio-container-separator{
  width: 40px;
}

.radio-container-text strong {
  padding-left: 10px;
}